[submodule "lib/closure-library"]
	path = lib/closure-library
	url = https://code.google.com/p/closure-library/
[submodule "lib/closure-compiler"]
	path = lib/closure-compiler
	url = https://code.google.com/p/closure-compiler/
