<div id="aria-properties" class="properties-container">
  <div class="sidebar-separator">{{heading}}</div>
  <div class="properties">
    <ul class="properties">
{{?role}}
      <li id="role" class="property{{^role.valid}} warning invalid{{/}}">
        <span class="property">role</span>:
        <span id="role-value">{{role.name}}</span>
      </li>
{{/}}
{{#properties}}
  {{?text}}
      <li id="{{name}}" class="property{{^valid}} warning invalid{{/}}">
        <span class="property">{{name}}</span>:
        <span class="text">"{{text}}"</span>
      </li>
  {{:}}{{?idref}}
      <!-- TODO -->
  {{:}}
      <li id="{{name}}" class="property{{^valid}} warning invalid{{/}}">
        <span class="property">{{name}}</span>:
        <span>{{value}}</span>
      </li>
  {{/idref}}{{/text}}
{{/properties}}
    </ul>
        </div>
</div>
